.customUserForm{
    background-color: $cPrimary;
    border-radius: 4vh;
    padding: 5vh;
    box-shadow: 0 1vh 1.2vh rgba(0, 0, 0, 0.1);

    a{
        text-decoration: none;
        color: $cText;
        font-weight: bold;


        &:hover{
            color: $cAccent !important;
        }
    }

    button{
        border-radius: 2vh;
        padding: 2vh;
    }
}