.input-wrapper {  
    label {
      color: $cBackground;
      font-size: 3vh;
    }
  
    input {
      width: 100%;
      border: none;
      border-bottom: 0.5vh solid $cSecondary;
      font-size: 2vh;
  
      &:focus {
        border-bottom: 0.5vh solid $cAccent;
      }
    }
}
  