.deleteModal{
    .modal-div{
        border-radius: 2vh;
    }
    .accentButton{
        border-radius: 0vh 0ch 2vh 0vh !important;
        display: block;
    }
    .secondaryButton{
        border-radius: 0vh 0vh 0vh 2vh !important;
        display: block;
    }
}