.footer {
    box-shadow: 0 -0.9vw 1.2vw rgba(0, 0, 0, 0.1);
    border-top-right-radius: 2.5vh;
    border-top-left-radius: 2.5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    z-index: 3;
    position: relative;
}