#header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)70%, $cBackground),
        url(../../../public/img/index/header.png);
    background-size: cover;
    background-position: center;

    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: -2vh;
}

#aboutUs {
    background: linear-gradient(to right,$cPrimary 40%,  rgba(0, 0, 0, 0)),
        url(../../../public/img/index/aboutUs.png);
    background-size: cover;
    background-position: center;
}
